<div class="wrapper" ng-app="center">
    <div [ngClass]="(passion==='') ? 'center' : 'clickedCenter'" style="-webkit-transition: 1s ease-in-out">
        <ng-container *ngIf="passion===''; else selectedPassion">
            Please click on a passion of your choice
        </ng-container>
        <ng-template #selectedPassion>
            <button class="close" (click)="passion = ''" @buttonEntry>Close</button>
        </ng-template>
    </div>
</div>
<div>
<div *ngFor="let icon of icons;let i = index;">
    <div *ngIf="calculateVector(angle*i) as newAngle">
        <fa-icon
            [id]="'icon' + i"
            class="polygonIcon"
            [ngStyle]="{transform: transformIcon(newAngle, icon.passion, i), '-webkit-transition': '1s ease-in-out'}"
            [icon]="['fas', icon.iconName]" 
            size="4x" 
            (click)="handleIconClick(icon.passion)">
        </fa-icon>
    </div>
</div>
