<div class="details-box" [ngClass]="{'details-box-mobile': onMobile}">
  <div class="details" *ngIf="selectedDetail == ''">
    <div class="details-content">Please click on a chapter to the left to see details here ...
    </div>
  </div>
  <ng-container *ngIf="selectedDetail == 'Bachelor'">
    <div *ngFor="let company of experiences[0].children; let i = index">
      <div class="details" *ngFor="let project of experiences[0].children[i].children">
        <div class="details-heading">{{project.duration}}<br>{{company.name}}<br>{{project.name}}</div>
        <div class="details-content">{{project.children[0].name}}</div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="selectedDetail == 'Master'">
    <div class="details" *ngFor="let project of experiences[1].children[0].children">
      <div class="details-heading">{{project.duration}}<br>{{project.name}}</div>
      <div class="details-content"  style="white-space: pre-line">{{project.children[0].name}}</div>
    </div>
  </ng-container>
</div>
<ul class="timeline" [ngClass]="{'timeline-mobile': onMobile}">
  <div [ngClass]="onMobile ? 'arrow-up arrow-up-mobile' : 'arrow-up'"></div>
  <li class="timeline-item"
    [ngClass]="{'highlighted': selectedDetail == 'Master', 'equallighted': selectedDetail == ''}">
    <div class="timeline-badge" [ngClass]="{'success': selectedDetail == 'Master', 'timeline-badge-mobile': onMobile}"
      (click)="(selectedDetail == 'Master') ? selectedDetail = '' : selectedDetail = 'Master'">
      2019
    </div>
    <div class="timeline-panel" [ngClass]="{'timeline-panel-mobile': onMobile}"
      (click)="(selectedDetail == 'Master') ? selectedDetail = '' : selectedDetail = 'Master'">
      <div class="timeline-heading">
        <h4 class="timeline-title">Cooperate Master for Big Data & Business Analytics</h4>
        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> @ DXC Technology</small></p>
        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> </small></p>
      </div>
    </div>
  </li>
  <li class="timeline-item"
    [ngClass]="{'highlighted': selectedDetail == 'Bachelor', 'equallighted': selectedDetail == ''}">
    <div class="timeline-badge" [ngClass]="{'success': selectedDetail == 'Bachelor', 'timeline-badge-mobile': onMobile}"
      (click)="(selectedDetail == 'Bachelor') ? selectedDetail = '' : selectedDetail = 'Bachelor'">
      2016
    </div>
    <div [ngClass]="{'timeline-panel-mobile': onMobile}" class="timeline-panel" 
      (click)="(selectedDetail == 'Bachelor') ? selectedDetail = '' : selectedDetail = 'Bachelor'">
      <div class="timeline-heading">
        <h4 class="timeline-title">Bachelor for Business Information Systems: Software Engineering</h4>
        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> @ Hewlett Packard Enterprise</small></p>
      </div>
    </div>
  </li>
</ul>