.wrapper {
    display: flex;
    min-height: 200px;
    width: 100%;
}

.example-tree {
    flex: 1;
}

.example-tree-invisible {
    display: none;
}

.example-tree ul,
.example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}