.wrapper {
    display: flex;
    justify-content: center;
}

.tree {
    margin-top: 1.4em;
    width: 72%;
}

.node {
    display: flex;
}

.button {
    height: 30px;
    margin-right: 0.8em;
    width: 40px;
}

.tree-invisible {
    display: none;
}

.tree ul,
.tree li {
    margin-top: 0.8em;
    margin-bottom: 0;
    list-style-type: none;
}