<div class="header">
  <div class="header-wrapper">
    <div class="header-background"></div>
    <img src="{{profilbildPath}}" class="profile-pic">
  </div>
  <div class="content">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="About Me"><app-about-me></app-about-me></mat-tab>
      <mat-tab label="Education"> Education </mat-tab>
      <mat-tab label="Experiences"> Experiences </mat-tab>
      <mat-tab label="Skills"> Skills </mat-tab>
      <mat-tab label="Hobbies"> Hobbies </mat-tab>
    </mat-tab-group>
  </div>
</div>
