<div class="wrapper">
    <div class="skillGroup" *ngFor="let skillGroup of skills">
        <h2 class="header">{{skillGroup.chapter}}</h2>
        <div *ngFor="let skill of skillGroup.content">
            <div 
                class="pie" 
                [ngStyle]="{'background-image': getSkillFilling(skill.level)}">
                <div 
                    *ngFor="let item of [].constructor(5); let i = index"
                    class="line"
                    [ngStyle]="{transform: getLineRotation(i)}">
                </div>
                <div class="smallerPie">{{skill.skillName}}</div>
            </div>
        </div>
    </div>
    <div class="certificates">
        <h2 class="header">Certificates</h2>
        <mat-card *ngFor="let cert of certificates" class="cert-card">
            {{cert.name}}
            <span *ngIf="cert.email">Verification Email: {{cert.email}}</span>
            <button mat-raised-button (click)="openCertificate(cert.url)" class="url-button">See Certificate</button>
        </mat-card>
    </div>
</div>
