.center-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
}

.header {
    width: 100%;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
}