.table-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1.2em;
}

table {
    width: 60%;
}

.heading-column {
    width: 30%;
}

.content-column {
    width: 70%;
}

.cell {
    line-height: 1.8em;
}