.table-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1.2em;
}

div > table {
    width: 60%;
    margin-left: 20%;
    // FIXME: margin left only here since justify-content does not apply
}

.heading-column {
    width: 30%;
}

.content-column {
    width: 70%;
}

.cell {
    line-height: 1.8em;
}