@import "../../../../styles.scss";

.container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 1.2em 0% 1.2em 10%;

    mat-card {
        width: 35%;        

        .radio-group {
            display: flex;
            justify-content: space-evenly;
        }

        .language {
            display: flex;
            justify-content: center;
            width: 100%;
            font-size: larger;
        }
    }

    .img-wrapper {
        width: 35%;

        .profile-pic {
            border-radius: 48%;
            max-width: 28vw;
            max-height: 400px;
        }
    }
}

.container-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;

    mat-card {
        width: 80%;
    }

    .img-wrapper {
        width: 50%;
        display: flex;
        justify-content: center;
        .profile-pic {
            padding-bottom: 16px;
            border-radius: 48%;
            max-width: 100%;
            min-width: 150px;
            z-index: 2;
        }
    }
}