.container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 1.2em 0% 1.2em 10%;

    mat-card {
        width: 35%;        

        .radio-group {
            display: flex;
            justify-content: space-evenly;
        }

        .language {
            display: flex;
            justify-content: center;
            width: 100%;
        }
    }

    .profile-pics {
        border-radius: 48%;
        margin-top: 4vh;
        height: 40vh;
        box-shadow: 4px 4px #D0D0D0;
    }
}