<div class="container" [ngClass]="{'container-mobile': onMobile}">
    <div class="img-wrapper"><img src="{{profilePicPaths[picPointer]}}" class="profile-pic" [@.disabled]="disableAnimations" [@fade]="fadeInImg"></div>
    <mat-card class="card">
        <mat-radio-group aria-label="Select a language" [(ngModel)]="selectedLanguage" class="radio-group">
            <mat-radio-button value="english" [checked]=defaultChecked>English</mat-radio-button>
            <mat-radio-button value="german">German</mat-radio-button>
        </mat-radio-group>
        <br><br>
        <div *ngIf="selectedLanguage==='english'; else germanLanguage" class="language">
            Thank you for visiting my CV.<br><br>
            My name is Gereon Franken, I am 23 years old and I am currently in my dual Master program for Big Data & Business Analytics.
            I am a passionate developer who highly values learning new things. To tackle challenges in a team and to find creative solutions
            for these is very exciting for me. Therefore, I am always motivated to reach achievements together.
        </div>
        <ng-template #germanLanguage >
            <div class="language">
                Danke für das Besuchen meines Lebenslaufs.<br><br>
                Mein Name ist Gereon Franken, ich bin 23 Jahre alt und momentan befinde ich mich in meinem dualen Masterprogramm mit der
                Ausrichtung Big Data & Business Analytics. Ich bin leidenschaftlicher Entwickler und habe viel Spaß daran, neue Dinge zu lernen.
                Im Team Herausforderungen anzugehen und kreative Lösungsmöglichkeiten zu finden halte ich für sehr spannend und ich bin immer motiviert,
                zusammen Erfolge zu erzielen. 
            </div>
        </ng-template>
    </mat-card>
</div>
