.center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    .css-board {
        // width: 600px;
        width: 100%;
        height: 600px;
    }
}