@import "~font-awesome/css/font-awesome.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.content {
    height: 70%;
}

.mat-tab-body-content {
    overflow-y: hidden !important;
}

.mat-tab-body.mat-tab-body-active {
    overflow-y: hidden !important;
}

* {
    font-family: sans-serif !important;
}

mat-ink-bar {
    background-color: #06bdce !important;
}

.mat-tab-label-container {
    padding-bottom: 3% !important;
}

mat-tab-group {
    padding-bottom: 1% !important;
}

.mat-tab-label-content {
    font-weight: bolder !important;
}

// light blue: #06bdce
