@import "~font-awesome/css/font-awesome.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.content {
    height: 70%;
}

.mat-tab-body-content {
    overflow-y: hidden !important;
}

.mat-tab-body.mat-tab-body-active {
    overflow-y: hidden !important;
}

* {
    font-family: sans-serif !important;
}